<!-- /templates/insa/modal/salyRegistModal.html -->
<div th:fragment="salyRegistModal">
  <!-- ✅ 모달 본체 -->
  <div class="modal-backdrop" id="salyRegistBackdrop"></div>
  <div class="modal" id="salyRegistModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <h5 class="modal-title">급여대장 등록</h5>
          여기에 급여대장 등록 폼 들어갈 예정
          <br/>어쩌구저쩌구
          <br/>어쩌구저쩌구
        </div>
      </div>
    </div>
  </div>
</div>