<!-- /templates/business/modal/newEstiModal.html -->
<div th:fragment="newSoModal">
  <!--  모달 본체 -->
  <div class="modal-backdrop" id="newSoBackdrop"></div>
  <div class="modal" id="newSoModal">
    <div class="modal-dialog modal-dialog-centered" style="--bs-modal-width: 800px;">
      <div class="modal-content">
        <div class="modal-body">
	          <div class="row">
		        <!-- 검색조건 -->
		        <div class="col-md-12">
		        	<div class="card-header with-actions">
						<div class="card-header-left">
				          	<h5 class="modal-title">주문서 등록</h5>
						</div>
						<div class="card-header-right">
							<!-- <button type="button" class="btn btn-dark" id="modalInit">초기화</button> -->
			           		<button type="button" class="btn btn-outline-dark" id="modalSaveBtn">저장</button>
						</div>
					</div>
					
					<div class="col-md-12 d-flex">
    			<div class="card w-100 h-100">

					

					<!-- 신규등록폼 -->
					<div class="card-body d-flex flex-column justify-content-between">
					    <!-- 대표 사업장 주소 - 다음 우편번호 검색 적용 -->
                        <div class="row mb-3">
                            <div class="col-12">
                                <label class="form-label">대표 사업장 주소</label>
                                <div class="row g-2 mb-2">
                                    <div class="col-6 col-sm-9">
                                        <input type="text" id="postcode" class="form-control" placeholder="우편번호" required readonly>
                                    </div>
                                    <div class="col-4 col-sm-3 d-grid">
                                        <button type="button" class="btn btn-outline-dark" onclick="execDaumPostcode()">우편번호 찾기</button>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <input type="text" id="roadAddress" class="form-control mb-2" placeholder="도로명주소" required readonly>
                                    <input type="text" id="jibunAddress" class="form-control mb-2" placeholder="지번주소" required readonly>
                                    <span id="guide" style="color:#999;display:none"></span>
                                </div>
                                <div class="row g-2">
                                    <div class="col-12">
                                        <!-- 실제 대표 사업장 주소: 도로명주소 + 참고항목 + 상세주소를 합쳐서 addr에 저장 -->
                                        <input type="text" id="detailAddress" class="form-control" placeholder="상세주소를 입력하세요" required>
                                        <input type="hidden" id="extraAddress">
                                        <input type="hidden" id="addr" name="addr" required>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- 사업장주소 end -->
                        
                        <div class="row mb-3">
                            <div class="col-12">
                                <label class="form-label">요청사항</label>
                                <input type="text" name="rm" class="form-control" placeholder="요청사항을 입력하세요" required>
                            </div>
                        </div>
                        
								
					</div> <!-- 신규등록폼 end -->
					
				</div>
			</div><!-- 신규등록 카드 end -->
<!-- 	           </div> col-md-12 end
		               
	                <div class="card-body">
	                </div>
		            
	        </div> -->
		    
        </div>
      </div>
    </div>
  </div>
</div>
