<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
<meta charset="UTF-8">

<title>employee-register</title>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<style>
.fixed-photo {
	width: 150px; /* 원하는 가로 크기 */
	height: 200px; /* 원하는 세로 크기 */
	object-fit: cover; /* 비율 유지하며 영역에 맞게 채움 */
}

.form-select {
	color: #000 !important;
}
</style>
</head>
<body layout:fragment="content">

	<div class="row">
		<div class="col-md-12 mb-3">
			<div class="card">
			<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
					<div class="card-header">
						<div class="card-header-left">
							<h5 class="card-title">조회</h5>
						</div>
						<div class="card-header-right">
							<button class="btn btn-dark">초기화</button>
							<button class="btn btn-outline-dark">조회</button>
						</div>
					</div>
				<div class="card-body">
					

					<div class="row mb-2">
						<div class="col-md-3">
							<label>이름</label> <input type="text" class="form-control"
								placeholder="Value">
						</div>
						<div class="col-md-3">
							<label>사번</label> <input type="text" class="form-control"
								placeholder="Value">
						</div>
						<div class="col-md-3">
							<label>부서</label> <input type="text" class="form-control"
								placeholder="Value">
						</div>
						<div class="col-md-3">
							<label>직급</label> <input type="text" class="form-control"
								placeholder="Value">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- 검색조건 -->
		<div class="col-md-6">
			<!-- 사원목록 -->
			<div class="card" style="height: 818.22px;">
			<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
					<div class="card-header">
						<div class="card-header-left">
							<h5 class="card-title">사원목록</h5>
						</div>
					</div>
				<div class="card-body">
					
					<div id="employeeGrid" style="margin: 20px;"></div>
				</div>
			</div>
		</div>

		<!-- 우측 패널 -->
		<div class="col-md-6">
			<!-- 기본정보 -->
			<div class="card mb-3">
			<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
					<div class="card-header">
						<div class="card-header-left">
							<h5 class="card-title">기본정보</h5>
						</div>
						<div class="card-header-right">
							<button class="btn btn-outline-dark ">근로계약서</button>
							<button class="btn btn-outline-dark ">등록</button>
							<button class="btn btn-outline-dark ">삭제</button>
						</div>
					</div>
				<div class="card-body ">
					

					<div class="row">
						<div class="col-md-4 text-center">
							<img src="/images/faces/face11.jpg" alt="사진"
								class="img-thumbnail fixed-photo" />
						</div>
						<div class="col-md-8">
							<div class="row mb-2">
								<div class="col-md-6">
									<label>사번</label> <input id="v_empId" type="text"
										class="form-control" placeholder="사번(자동생성)" />
								</div>
							</div>
							<div class="row mb-2">
								<div class="col-md-6">
									<label>이름</label> <input id="v_nm" type="text"
										class="form-control" placeholder="홍길동" />
								</div>
								<div class="col-md-6">
									<label>생년월일</label> <input id="v_brthdy" type="date"
										class="form-control" />
								</div>
							</div>
							<div class="row mb-2">
								<div class="col-md-6">
									<label>연락처</label> <input id="v_cttpc" type="text"
										class="form-control" placeholder="010-1234-1234" />
								</div>
								<div class="col-md-6">
									<label>이메일</label> <input id="v_email" type="email"
										class="form-control" placeholder="abc@mail.com" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- 인사정보 -->
			<div class="card">
			<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
					<div class="card-header">
						<div class="card-header-left">
							<h5 class="card-title">인사정보</h5>
						</div>
					</div>
				<div class="card-body">
					
					<div class="row mb-2">
						<div class="col-md-6">
							<label>부서</label> <select id="v_deptNm" class="form-select">
								<option>인사</option>
								<option>영업</option>
								<option>생산</option>
							</select>
						</div>
						<div class="col-md-6">
							<label>직무</label> <input id="v_dty" type="text"
								class="form-control" placeholder="HRM(인적자원관리)" />
						</div>
					</div>
					<div class="row mb-2">
						<div class="col-md-6">
							<label>직급</label> <select id="v_clsf" class="form-select">
								<option>사원</option>
								<option>대리</option>
								<option>과장</option>
								<option>부장</option>
								<option>이사</option>
							</select>
						</div>
						<div class="col-md-6">
							<label>직책</label> <select id="v_rspofc" class="form-select">
								<option>팀원</option>
								<option>팀장</option>
								<option>관리자</option>
								<option>임원</option>
							</select>
						</div>
					</div>
					<div class="row mb-2">
						<div class="col-md-6">
							<label>고용형태</label> <select class="form-select">
								<option>정직원</option>
								<option>계약직</option>
								<option>일용직</option>
							</select>
						</div>
						<div class="col-md-6">
							<label>계좌번호</label> <input type="text" class="form-control"
								placeholder="계좌번호입력" />
						</div>
					</div>
					<div class="row mb-2">
						<div class="col-md-6">
							<label>급여 방식</label> <select id="salaryType" class="form-select">
								<option value="bslry">기본급</option>
								<option value="pymhr">시급</option>
							</select>
						</div>
						<div class="col-md-6">
							<label>기본급/시급</label> <input type="text" id="salaryInput"
								class="form-control" placeholder="금액입력" name="monthlySalary" />
						</div>
					</div>
					<div class="row mb-2">

						<div class="col-md-6">
							<label>입사일</label> <input type="date" class="form-control" />
						</div>
						<div class="col-md-6">
							<label>재직상태</label> <select class="form-select">
								<option>재직</option>
								<option>퇴직</option>
								<option>휴직</option>
								<option>퇴사</option>
							</select>
						</div>
					</div>
					<div class="row"></div>
				</div>
			</div>
		</div>
	</div>
	<script>
		// 화면 테스트용 데이터
		tui.Grid.applyTheme('default', {
			cell : {
				normal : { // 일반 셀(본문)
					border : '#ccc',
					background : "#fff",
					showVerticalBorder : true, // 세로 라인 표시
				},
				header : { // 헤더 셀
					border : '#ccc',
					background : '#E3E6ED',
					showVerticalBorder : true,
				},
				editable : { // ★ 편집 가능한 셀 공통 스타일
					background : '#FFFDF0', // 연노랑 같은 색으로 표시
					text : '#000'
				},
				selectedHeader : { // 헤더 클릭했을 때 색
					background : '#E3E6ED' // 헤더랑 똑같이 → 색 안 바뀌는 것처럼 보임
				},
				selected : { // 선택된 셀 색
					background : '#ffffff' // 필요하면 여기도 조정
				}
			}
		});

		const gridData = [ {
			nm : "아이유",
			empId : "com001",
			deptId : "영업",
			clsf : "사원",
			brthdy : "1993-05-16",
			cttpc : "010-1234-5678",
			email : "IU@email.com",
			deptNm : "영업",
			dty : "영업 관리자",
			rspofc : "팀원",
			bslry : "2,000,000"
		}, {
			nm : "뉴진스",
			empId : "com002",
			deptId : "인사",
			clsf : "과장",
			brthdy : "2005-04-11",
			cttpc : "010-2345-6789",
			email : "NewJeans@email.com",
			deptNm : "인사",
			dty : "HRM(인적자원관리)",
			rspofc : "팀장",
			pymhr : "10,030"
		}, {
			nm : "뉴진스",
			empId : "com002",
			deptId : "인사",
			clsf : "과장",
			brthdy : "2005-04-11",
			cttpc : "010-2345-6789",
			email : "NewJeans@email.com",
			deptNm : "인사",
			dty : "HRM(인적자원관리)",
			rspofc : "팀장",
			pymhr : "10,030"
		}, {
			nm : "뉴진스",
			empId : "com002",
			deptId : "인사",
			clsf : "과장",
			brthdy : "2005-04-11",
			cttpc : "010-2345-6789",
			email : "NewJeans@email.com",
			deptNm : "인사",
			dty : "HRM(인적자원관리)",
			rspofc : "팀장",
			pymhr : "10,030"
		}, {
			nm : "뉴진스",
			empId : "com002",
			deptId : "인사",
			clsf : "과장",
			brthdy : "2005-04-11",
			cttpc : "010-2345-6789",
			email : "NewJeans@email.com",
			deptNm : "인사",
			dty : "HRM(인적자원관리)",
			rspofc : "팀장",
			pymhr : "10,030"
		}, {
			nm : "뉴진스",
			empId : "com002",
			deptId : "인사",
			clsf : "과장",
			brthdy : "2005-04-11",
			cttpc : "010-2345-6789",
			email : "NewJeans@email.com",
			deptNm : "인사",
			dty : "HRM(인적자원관리)",
			rspofc : "팀장",
			pymhr : "10,030"
		}, {
			nm : "뉴진스",
			empId : "com002",
			deptId : "인사",
			clsf : "과장",
			brthdy : "2005-04-11",
			cttpc : "010-2345-6789",
			email : "NewJeans@email.com",
			deptNm : "인사",
			dty : "HRM(인적자원관리)",
			rspofc : "팀장",
			pymhr : "10,030"
		}, {
			nm : "뉴진스",
			empId : "com002",
			deptId : "인사",
			clsf : "과장",
			brthdy : "2005-04-11",
			cttpc : "010-2345-6789",
			email : "NewJeans@email.com",
			deptNm : "인사",
			dty : "HRM(인적자원관리)",
			rspofc : "팀장",
			pymhr : "10,030"
		}, {
			nm : "뉴진스",
			empId : "com002",
			deptId : "인사",
			clsf : "과장",
			brthdy : "2005-04-11",
			cttpc : "010-2345-6789",
			email : "NewJeans@email.com",
			deptNm : "인사",
			dty : "HRM(인적자원관리)",
			rspofc : "팀장",
			pymhr : "10,030"
		}, {
			nm : "뉴진스",
			empId : "com002",
			deptId : "인사",
			clsf : "과장",
			brthdy : "2005-04-11",
			cttpc : "010-2345-6789",
			email : "NewJeans@email.com",
			deptNm : "인사",
			dty : "HRM(인적자원관리)",
			rspofc : "팀장",
			pymhr : "10,030"
		}, {
			nm : "뉴진스",
			empId : "com002",
			deptId : "인사",
			clsf : "과장",
			brthdy : "2005-04-11",
			cttpc : "010-2345-6789",
			email : "NewJeans@email.com",
			deptNm : "인사",
			dty : "HRM(인적자원관리)",
			rspofc : "팀장",
			pymhr : "10,030"
		}, {
			nm : "뉴진스",
			empId : "com002",
			deptId : "인사",
			clsf : "과장",
			brthdy : "2005-04-11",
			cttpc : "010-2345-6789",
			email : "NewJeans@email.com",
			deptNm : "인사",
			dty : "HRM(인적자원관리)",
			rspofc : "팀장",
			pymhr : "10,030"
		}, {
			nm : "뉴진스",
			empId : "com002",
			deptId : "인사",
			clsf : "과장",
			brthdy : "2005-04-11",
			cttpc : "010-2345-6789",
			email : "NewJeans@email.com",
			deptNm : "인사",
			dty : "HRM(인적자원관리)",
			rspofc : "팀장",
			pymhr : "10,030"
		}, {
			nm : "뉴진스",
			empId : "com002",
			deptId : "인사",
			clsf : "과장",
			brthdy : "2005-04-11",
			cttpc : "010-2345-6789",
			email : "NewJeans@email.com",
			deptNm : "인사",
			dty : "HRM(인적자원관리)",
			rspofc : "팀장",
			pymhr : "10,030"
		}, {
			nm : "총16개",
			empId : "com002",
			deptId : "인사",
			clsf : "과장",
			brthdy : "2005-04-11",
			cttpc : "010-2345-6789",
			email : "NewJeans@email.com",
			deptNm : "인사",
			dty : "HRM(인적자원관리)",
			rspofc : "팀장",
			pymhr : "10,030"
		}, {
			nm : "임영웅",
			empId : "com003",
			deptId : "생산",
			clsf : "이사",
			brthdy : "1991-06-16",
			cttpc : "010-3456-7890",
			email : "ImYoungWoong@email.com",
			deptNm : "생산",
			dty : "생산관리",
			rspofc : "관리자",
			bslry : "3,000,000"
		} ];

		// Grid 생성
		const grid = new tui.Grid({
			el : document.getElementById('employeeGrid'),
			data : gridData,
			scrollX : false,
			scrollY : true,
			minBodyHeight : 0,
			autoWidth : true,
			columns : [ {
				header : '이름',
				name : 'nm',
				sortable : 'true'
			}, {
				header : '사번',
				name : 'empId'
			}, {
				header : '부서',
				name : 'deptNm'
			}, {
				header : '직급',
				name : 'clsf',
				align : 'center'
			} ],
			bodyHeight : 640, // 본문 높이 고정
		});

		//급여 경우의수 처리
		function bindSalary(rowData) {
			if (rowData.bslry) {
				salaryType.value = "bslry";
				salaryInput.value = rowData.bslry;
			} else if (rowData.pymhr) {
				salaryType.value = "pymhr";
				salaryInput.value = rowData.pymhr;
			} else {
				salaryType.value = "";
				salaryInput.value = "";
			}
		}
	</script>
	<script type="module">
import { bindGridToForm, formToJson } from '/assets/js/teamExportUtil.js';
//그리드 행 클릭 시 상세정보 입력
grid.on('click', function(ev) {
    const rowData = grid.getRow(ev.rowKey);
    if (!rowData) return;

    bindGridToForm(rowData);
    bindSalary(rowData); // 급여 처리
    
    const dto = formToJson();  
    console.log(dto);
});
</script>
</body>
</html>