<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>vcatn.html</title>
<style>
.form-select {
	color: #000 !important;
}
/* 추가 CSS */
.readonly-input[readonly] {
	background-color: #e9ecef; /* Bootstrap 기본 disabled 색상 */
	cursor: not-allowed; /* 마우스 커서도 입력 불가 느낌 */
}

.stIsShow {
	display: none;
}
</style>
</head>
<body layout:fragment="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card mb-3">
				<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
				<div class="card-header">
					<div class="card-header-left">
						<h5 class="card-title">조회-(사원용)</h5>
					</div>
					<div class="card-header-right">
						<button type="button" class="btn btn-dark">초기화</button>
						<button type="button" class="btn btn-outline-dark">조회</button>
					</div>
				</div>
				<div class="card-body">

					<div class="row mb-2">
						<div class="col-md-6">
							<label for="userName" class="form-label">기간</label>
							<div class="d-flex align-items-center js-date-range">

								<!-- 시작일 -->
								<div class="input-group date">
									<input type="text"
										class="form-control datepicker js-date-range-start"
										placeholder="시작일"> <span
										class="input-group-text js-date-range-icon-start"> <i
										class="bi bi-calendar"></i>
									</span>
								</div>

								<span class="mx-1 fw-bold fs-5">~</span>

								<!-- 종료일 -->
								<div class="input-group date ms-2">
									<input type="text"
										class="form-control datepicker js-date-range-end"
										placeholder="종료일"> <span
										class="input-group-text js-date-range-icon-end"> <i
										class="bi bi-calendar"></i>
									</span>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<label class="form-label">휴가유형</label> <select
								class="form-select">
								<option>연차</option>
								<option>병가</option>
								<option>특별휴가</option>
							</select>
						</div>
						<div class="col-md-3">
							<label class="form-label">상태</label> <select class="form-select">
								<option>전체</option>
								<option>신청</option>
								<option>승인</option>
								<option>반려</option>
							</select>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- 검색조건 -->
		<div class="col-md-6">
			<!-- 사원목록 -->
			<div class="card" style="height: 775.75px;">
				<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
				<div class="card-header">
					<div class="card-header-left">
						<h5 class="card-title">나의 휴가 신청 내역 - 홍길동 (D001/개발팀)</h5>
					</div>
				</div>
				<div class="card-body">

					<div id="toastGrid" style="margin: 20px;"></div>
				</div>
			</div>
		</div>
		<!-- 우측 패널 -->
		<div class="col-md-6">
			<!-- 기본정보 -->
			<div class="card mb-3">
				<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
				<div class="card-header">
					<div class="card-header-left">
						<h5 class="card-title">휴가 신청상세</h5>
					</div>
					<div class="card-header-right">
						<button class="btn btn-outline-dark ">등록</button>
						<button class="btn btn-outline-dark ">삭제</button>
					</div>
				</div>
				<div class="card-body">

					<div class="row">
						<div class="col-md-12">
							<div class="row mb-2">
								<div class="col-md-6">
									<label class="form-label">이름</label> <input type="text"
										class="form-control" />
								</div>
								<div class="col-md-6">
									<label class="form-label">사번</label> <input type="text"
										class="form-control readonly-input" readonly="readonly" />
								</div>
							</div>
							<div class="row mb-2">
								<div class="col-md-6">
									<label class="form-label">휴가유형</label> <select id="v_vcatnTy"
										class="form-select">
										<option>연차</option>
										<option>병가</option>
										<option>특별휴가</option>
									</select>
								</div>
								<div class="col-md-6">
									<label for="userName" class="form-label">신청일</label>
									<div class="input-group date js-date-single">
										<input type="text"
											class="form-control datepicker js-date-input"
											placeholder="날짜 선택"> <span
											class="input-group-text js-date-icon"> <i
											class="bi bi-calendar"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="row mb-2">
								<label for="userName" class="form-label">기간</label>
								<div class="d-flex align-items-center js-date-range">

									<!-- 시작일 -->
									<div class="input-group date">
										<input type="text"
											class="form-control datepicker js-date-range-start"
											placeholder="시작일"> <span
											class="input-group-text js-date-range-icon-start"> <i
											class="bi bi-calendar"></i>
										</span>
									</div>

									<span class="mx-1 fw-bold fs-5">~</span>

									<!-- 종료일 -->
									<div class="input-group date ms-2">
										<input type="text"
											class="form-control datepicker js-date-range-end"
											placeholder="종료일"> <span
											class="input-group-text js-date-range-icon-end"> <i
											class="bi bi-calendar"></i>
										</span>
									</div>

								</div>
							</div>
							<div class="row mb-2">
								<div class="col-md-12">
									<label>사유</label> <input type="text" class="form-control" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 인사정보 -->
			<div class="card">
				<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
				<div class="card-header">
					<div class="card-header-left">
						<h5 class="card-title">휴가처리 정보</h5>
					</div>
				</div>
				<div class="card-body " style="height: 345.45px;">

					<div id="hugadeta" class="stIsShow">
						<div class="row mb-2">
							<div class="col-md-6">
								<label>처리일</label> <input type="text" class="form-control" />
							</div>
							<div class="col-md-6">
								<label>승인자</label> <input id="v_nm" type="text"
									class="form-control" />
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-md-6">
								<label>상태</label> <select id="v_st" class="form-select">
									<option>신청</option>
									<option>승인</option>
									<option>반려</option>
								</select>
							</div>
							<div class="col-md-6">
								<label id="hugaSt1">비고</label> <label id="hugaSt2">반려사유</label>
								<textarea class="form-control" rows="5" style="height: 150px;"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		const gridData = [ {
			creaDt : "1990-01-01",
			vcatnTy : "연차",
			vcatnBegin : "1990-01-01",
			vcatnEnd : "1990-01-02",
			st : "신청",
			nm : "김관리"
		}, {
			creaDt : "1990-01-02",
			vcatnTy : "병가",
			vcatnBegin : "1990-01-01",
			vcatnEnd : "1990-01-02",
			st : "승인",
			nm : "김관리"
		}, {
			creaDt : "1990-01-02",
			vcatnTy : "병가",
			vcatnBegin : "1990-01-01",
			vcatnEnd : "1990-01-02",
			st : "승인",
			nm : "김관리"
		}, {
			creaDt : "1990-01-02",
			vcatnTy : "병가",
			vcatnBegin : "1990-01-01",
			vcatnEnd : "1990-01-02",
			st : "승인",
			nm : "김관리"
		}, {
			creaDt : "1990-01-02",
			vcatnTy : "병가",
			vcatnBegin : "1990-01-01",
			vcatnEnd : "1990-01-02",
			st : "승인",
			nm : "김관리"
		}, {
			creaDt : "1990-01-02",
			vcatnTy : "병가",
			vcatnBegin : "1990-01-01",
			vcatnEnd : "1990-01-02",
			st : "승인",
			nm : "김관리"
		}, {
			creaDt : "1990-01-02",
			vcatnTy : "병가",
			vcatnBegin : "1990-01-01",
			vcatnEnd : "1990-01-02",
			st : "승인",
			nm : "김관리"
		}, {
			creaDt : "1990-01-02",
			vcatnTy : "병가",
			vcatnBegin : "1990-01-01",
			vcatnEnd : "1990-01-02",
			st : "승인",
			nm : "김관리"
		}, {
			creaDt : "1990-01-02",
			vcatnTy : "병가",
			vcatnBegin : "1990-01-01",
			vcatnEnd : "1990-01-02",
			st : "승인",
			nm : "김관리"
		}, {
			creaDt : "1990-01-02",
			vcatnTy : "병가",
			vcatnBegin : "1990-01-01",
			vcatnEnd : "1990-01-02",
			st : "승인",
			nm : "김관리"
		}, {
			creaDt : "1990-01-02",
			vcatnTy : "병가",
			vcatnBegin : "1990-01-01",
			vcatnEnd : "1990-01-02",
			st : "승인",
			nm : "김관리"
		}, {
			creaDt : "1990-01-02",
			vcatnTy : "병가",
			vcatnBegin : "1990-01-01",
			vcatnEnd : "1990-01-02",
			st : "승인",
			nm : "김관리"
		}, {
			creaDt : "1990-01-02",
			vcatnTy : "병가",
			vcatnBegin : "1990-01-01",
			vcatnEnd : "1990-01-02",
			st : "승인",
			nm : "김관리"
		}, {
			creaDt : "1990-01-02",
			vcatnTy : "병가",
			vcatnBegin : "1990-01-01",
			vcatnEnd : "1990-01-02",
			st : "승인",
			nm : "김관리"
		}, {
			creaDt : "1990-01-03",
			vcatnTy : "특별휴가",
			vcatnBegin : "1990-01-01",
			vcatnEnd : "1990-01-02",
			st : "반려",
			nm : "김15"
		},

		];

		// Grid 생성
		const grid = new tui.Grid({
			el : document.getElementById('toastGrid'),
			data : gridData,
			scrollX : false,
			scrollY : true,
			minBodyHeight : 0,
			autoWidth : true,
			columns : [ {
				header : '신청일',
				name : 'creaDt',
				sortable : 'true'
			}, {
				header : '휴가유형',
				name : 'vcatnTy'
			}, {
				header : '시작일',
				name : 'vcatnBegin'
			}, {
				header : '종료일',
				name : 'vcatnEnd'
			}, {
				header : '상태',
				name : 'st',
				width : 11
			}, {
				header : '승인자',
				name : 'nm',
				align : 'center'
			} ],
			bodyHeight : 600, // 본문 높이 고정
		});
	</script>
	<script type="module">
import { bindGridToForm, formToJson } from '/assets/js/teamExportUtil.js';

//그리드 행 클릭 시 상세정보 입력
grid.on('click', function(ev) {
    const rowData = grid.getRow(ev.rowKey);
    if (!rowData) return;

    bindGridToForm(rowData);    
    
    const dto = formToJson();  
    console.log(dto);
});
</script>
</body>

</html>