<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>churn_risk_list</title>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
</head>

<style>
.fixed-photo {
	width: 150px;
	height: 200px;
	object-fit: cover;
}
.form-select {
	color: #000 !important;
}
</style>

<body layout:fragment="content">

	<form th:action="@{/churnRiskList}" method="post" th:object="${cond}">
		<div class="row">
			<div class="col-md-12 mb-3">
				<div class="card">

					<div class="card-header">
						<div class="card-header-left">
							<h5 class="card-title">조회조건</h5>
						</div>
						<div class="card-header-right">
							<button class="btn btn-dark" type="reset">초기화</button>
							<button class="btn btn-outline-dark" type="submit">조회</button>
						</div>
					</div>

					<div class="card-body">
						<div class="row mb-2">
							<div class="col-md-3">
								<label class="form-label">업체명</label>
								<input type="text" class="form-control" placeholder="업체명"
								       th:field="*{customerId}">
							</div>

							<div class="col-md-3">
								<label class="form-label">휴면/이탈</label>
								<select class="form-select" th:field="*{customerStatus}">
									<option value="">전체</option>
									<option value="휴면">휴면</option>
									<option value="이탈">이탈</option>
								</select>
							</div>

							<div class="col-md-3">
								<label class="form-label">거래중단기간점수</label>
								<input type="number" class="form-control"
								       placeholder="입력한 점수 이상의 고객을 조회합니다"
								       th:field="*{trendScore}">
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-md-3">
								<label class="form-label">매출변동점수</label>
								<input type="number" class="form-control"
								       placeholder="입력한 점수 이상의 고객을 조회합니다"
								       th:field="*{recScore}">
							</div>

							<div class="col-md-3">
								<label class="form-label">평균 구매주기점수</label>
								<input type="number" class="form-control"
								       placeholder="입력한 점수 이상의 고객을 조회합니다"
								       th:field="*{freqScore}">
							</div>

							<div class="col-md-3">
								<label class="form-label">이탈위험점수</label>
								<input type="number" class="form-control"
								       placeholder="입력한 점수 이상의 고객을 조회합니다"
								       th:field="*{finalScore}">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</form>

	<div class="card mb-3">
		<div class="card-header">
			<div class="card-header-left">
				<h5 class="card-title">휴먼고객목록</h5>
			</div>
		</div>
		<div class="card-body">
			<div id="dormancygrid" style="height: 500px; width: 100%; overflow-y: auto; overflow-x: auto;"></div>
		</div>
	</div>

	<script th:inline="javascript">
		tui.Grid.applyTheme('default', {
			cell : {
				normal : { border : '#ccc', background : "#fff", showVerticalBorder : true },
				header : { border : '#ccc', background : '#E3E6ED', showVerticalBorder : true },
				editable : { background : '#FFFDF0', text : '#000' },
				selectedHeader : { background : '#E3E6ED' },
				selected : { background : '#ffffff' }
			}
		});

		const dormancygridData = /*[[${getMonthlySalesList}]]*/ [];
		console.log('dormancygridData', dormancygridData);

		const dormancygrid = new tui.Grid({
			el : document.getElementById('dormancygrid'),
			data : dormancygridData,
			scrollX : false,
			scrollY : true,
			minBodyHeight : 0,
			autoWidth : true,
			columns : [ {
				header : '업체명',
				name : 'custcomName',
				sortable : 'true'
			}, {
				header : '업체코드',
				name : 'customerId',
				sortable : 'true'
			}, {
				header : '휴면/이탈',
				name : 'customerStatus',
				sortable : 'true'
			}, {
				header : '거래중단기간',
				name : 'trendScore',
				align : 'center'
			}, {
				header : '매출변동',
				name : 'recScore',
				align : 'center'
			}, {
				header : '평균구매주기',
				name : 'freqScore',
				align : 'center'
			}, {
				header : '이탈위험점수',
				name : 'finalScore',
				align : 'center'
			} ]
		});
	</script>

</body>
</html>
