<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

<title>고객관리 화면</title>
<style>
/* Toast UI Grid 스크롤 커스텀 */
.tui-grid-body-area::-webkit-scrollbar, .tui-grid-rside-area::-webkit-scrollbar,
	.tui-grid-lside-area::-webkit-scrollbar {
	width: 17px;
	height: 3px;
}

.tui-grid-body-area::-webkit-scrollbar-track, .tui-grid-rside-area::-webkit-scrollbar-track,
	.tui-grid-lside-area::-webkit-scrollbar-track {
	background: #f0f0f0;
	border-radius: 10px;
}

.tui-grid-body-area::-webkit-scrollbar-thumb, .tui-grid-rside-area::-webkit-scrollbar-thumb,
	.tui-grid-lside-area::-webkit-scrollbar-thumb {
	background: #bfbfbf;
	border-radius: 10px;
}

.tui-grid-body-area::-webkit-scrollbar-thumb:hover, .tui-grid-rside-area::-webkit-scrollbar-thumb:hover,
	.tui-grid-lside-area::-webkit-scrollbar-thumb:hover {
	background: #999;
}
</style>
</head>

<body layout:fragment="content">
	<div class="lock-account-wrapper">

		<!-- 고객 조회 -->
		<div class="row mb-3">
			<div class="col-md-12">
				<div class="card">

					<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
					<div class="card-header with-actions">
						<div class="card-header-left">
							<h5 class="card-title">검색 조건</h5>
						</div>
						<div class="card-header-right">
							<button type="button" class="btn btn-dark">초기화</button>
							<button type="button" class="btn btn-outline-dark">조회</button>
						</div>
					</div>

					<!-- /card-body start -->
					<div class="card-body">
						<div class="row g-2">
							<div class="col-md-4">
								<label>고객코드</label> <select class="form-select">
									<option>251125-001</option>
									<option>251125-002</option>
								</select>
							</div>
							<div class="col-md-4">
								<label>고객사</label> <select class="form-select">
									<option>무신사</option>
									<option>29cm</option>
								</select>
							</div>
							<div class="col-md-4">
								<label>담당자</label> <select class="form-select">
									<option>논개</option>
									<option>구론산</option>
								</select>
							</div>
						</div>
					</div>
					<!-- /card-body end -->
				</div>
			</div>
		</div>

		<!-- 고객정보 카드 -->
		<div class="col-md-7 d-flex">
			<div class="card w-100 h-100"> 
				<div class="card">

					<!-- 카드 헤더 : 제목 + 잠금 해제 버튼 -->
					<div class="card-header with-actions">
						<div class="card-header-left">
							<h5 class="card-title">고객 정보</h5>
						</div>
						<div class="card-header-right"></div>
					</div>

					<div class="card-body">
						<div id="custGrid"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- 고객정보 카드 -->

		<!-- 신규 등록 -->
		<div class="col-md-5 d-flex">
			<div class="card w-100 h-100"> 
				<div class="card">

					<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
					<div class="card-header with-actions">
						<div class="card-header-left">
							<h5 class="card-title">신규등록</h5>
						</div>
						<div class="card-header-right">
							<button type="button" class="btn btn-dark">초기화</button>
							<button type="button" class="btn btn-outline-dark">저장</button>
						</div>
					</div>

					<!-- /card-body start -->
					<div class="card-body">
						<div class="row g-3">
							<div class="col-md-4">
								<label for="custId" class="form-label">고객코드</label> 
								<input id="custId" type="text" class="form-control" placeholder="YEDAM" readonly align-items-center>
							</div>
							<div class="col-md-4">
								<label for="customer" class="form-label">고객사</label> 
								<input id="customer" type="text" class="form-control" placeholder="YEDAM" align-items-center>
							</div>
							<div class="col-md-4">
								<label for="workplace" class="form-label">사업자번호</label> 
								<input id="workplace" type="text" class="form-control" placeholder="YEDAM" align-items-center>
							</div>
							<div class="col-md-4">
                                <label for="workplace" class="form-label">사업장주소</label> 
								<input id="workplace" type="text" class="form-control" placeholder="YEDAM" align-items-center>
							</div>
							<div class="col-md-4">
                                <label for="phoneNum" class="form-label">연락처</label> 
								<input id="phoneNum" type="text" class="form-control" placeholder="YEDAM" align-items-center>
							</div>
							<div class="col-md-4">
                                <label for="faxNum" class="form-label">Fax번호</label> 
								<input id="faxNum" type="text" class="form-control" placeholder="YEDAM" align-items-center>
							</div>
							<div class="col-md-4">
                                <label for="manager" class="form-label">담당자</label> 
								<input id="manager" type="text" class="form-control" placeholder="YEDAM" align-items-center>
							</div>
							<div class="col-md-4">
                                <label for="managerNum" class="form-label">담당자연락처</label> 
								<input id="managerNum" type="text" class="form-control" placeholder="YEDAM" align-items-center>
							</div>
							<div class="col-md-4">
                                <label for="managerEmail" class="form-label">담당자이메일</label> 
								<input id="managerEmail" type="text" class="form-control" placeholder="YEDAM" align-items-center>
							</div>
							<div class="col-md-4">
                                <label for="exponent" class="form-label">대표자</label> 
								<input id="exponent" type="text" class="form-control" placeholder="YEDAM" align-items-center>
							</div>
							<div class="col-md-4">
                                <label for="exponentNum" class="form-label">대표자연락처</label> 
								<input id="exponentNum" type="text" class="form-control" placeholder="YEDAM" align-items-center>
							</div>
						</div>
					</div>
					<!-- /card-body end -->
				</div>
			</div>
		</div>

	</div>

	<script type="text/javascript">
	
    // 1. Toast UI Grid 테마
	tui.Grid.applyTheme('default', {
	  cell: {
	    normal: {
	      border: '#dedede',
	      background: '#ffffff',
	      showVerticalBorder: true
	    },
	    header: {
	      border: '#dedede',
	      background: '#f5f5f5',
	      showVerticalBorder: true
	    },
	    // ✅ rowHeader는 기본 흰색으로 두기 (헤더/바디 공통)
	    rowHeader: {
	      border: '#dedede',
	      background: '#ffffff',
	      showVerticalBorder: true
	    },
	    editable: {
	      background: '#FFFDF0',
	      text: '#000'
	    },
	    selectedHeader: {
	      background: '#f5f5f5'
	    },
	    selected: {
	      background: '#ffffff'
	    }
	  }
	});



	    // 2. 더미 데이터
	    const custData = [
	        {
	        	custId: '251126-0001',
	        	customer: '무신사',
	        	workplace: '서울특별시 강남구 테헤란로 56 유니빌딩 2301호',
	        	exponent: '홍길동',
	        	brn:'024-11-33333',
	        	manager:'논개',
	        	phoneNum:'02-111-2222',
	        	email:'nongae@musinsa.com'
	        },
	        {
	        	custId: '251126-0002',
	        	customer: '29CM',
	        	workplace: '서울특별시 강남구 테헤란로 100',
	        	exponent: '김수철',
	        	brn:'123-45-67899',
	        	manager:'구론산',
	    	    phoneNum:'02-777-8888',
	    	    email:'san2@29cm.com'
	        },
	        {
	        	custId: '251126-0002',
	        	customer: '29CM',
	        	workplace: '서울특별시 강남구 테헤란로 100',
	        	exponent: '김수철',
	        	brn:'123-45-67899',
	        	manager:'구론산',
	    	    phoneNum:'02-777-8888',
	    	    email:'san2@29cm.com'
	        },
	        {
	        	custId: '251126-0002',
	        	customer: '29CM',
	        	workplace: '서울특별시 강남구 테헤란로 100',
	        	exponent: '김수철',
	        	brn:'123-45-67899',
	        	manager:'구론산',
	    	    phoneNum:'02-777-8888',
	    	    email:'san2@29cm.com'
	        },
	        {
	        	custId: '251126-0002',
	        	customer: '29CM',
	        	workplace: '서울특별시 강남구 테헤란로 100',
	        	exponent: '김수철',
	        	brn:'123-45-67899',
	        	manager:'구론산',
	    	    phoneNum:'02-777-8888',
	    	    email:'san2@29cm.com'
	        },
	        {
	        	custId: '251126-0002',
	        	customer: '29CM',
	        	workplace: '서울특별시 강남구 테헤란로 100',
	        	exponent: '김수철',
	        	brn:'123-45-67899',
	        	manager:'구론산',
	    	    phoneNum:'02-777-8888',
	    	    email:'san2@29cm.com'
	        },
	        {
	        	custId: '251126-0002',
	        	customer: '29CM',
	        	workplace: '서울특별시 강남구 테헤란로 100',
	        	exponent: '김수철',
	        	brn:'123-45-67899',
	        	manager:'구론산',
	    	    phoneNum:'02-777-8888',
	    	    email:'san2@29cm.com'
	        },
	        {
	        	custId: '251126-0002',
	        	customer: '29CM',
	        	workplace: '서울특별시 강남구 테헤란로 100',
	        	exponent: '김수철',
	        	brn:'123-45-67899',
	        	manager:'구론산',
	    	    phoneNum:'02-777-8888',
	    	    email:'san2@29cm.com'
	        },
	        {
	        	custId: '251126-0002',
	        	customer: '29CM',
	        	workplace: '서울특별시 강남구 테헤란로 100',
	        	exponent: '김수철',
	        	brn:'123-45-67899',
	        	manager:'구론산',
	    	    phoneNum:'02-777-8888',
	    	    email:'san2@29cm.com'
	        },
	        {
	        	custId: '251126-0002',
	        	customer: '29CM',
	        	workplace: '서울특별시 강남구 테헤란로 100',
	        	exponent: '김수철',
	        	brn:'123-45-67899',
	        	manager:'구론산',
	    	    phoneNum:'02-777-8888',
	    	    email:'san2@29cm.com'
	        },
	    ];

	    // 3. Grid 공통 옵션
	    const saleGridOptions = {
	        bodyHeight: 320,
	        scrollX: true,
	        scrollY: true,
	        rowHeaders: ['rowNum'],     //No 번호
	        columnOptions: {
	            minWidth: 80,
	            resizable: true
	        }
	    };

	    // 4. 계정 목록 Grid 생성
	    const custGrid = new tui.Grid({
	        el: document.getElementById('custGrid'),
	        data: custData,
	        ...saleGridOptions,
	        columns: [
	            { header: '고객코드', name: 'custId', width: 120, align: 'center'},
	            { header: '고객사', name: 'customer', width: 150, align: 'center'},
	            { header: '사업장주소', name: 'workplace', minWidth: 350 },
	            { header: '대표자', name: 'exponent', width: 120, align: 'center' },
	            { header: '사업자번호', name: 'brn', width: 140, align: 'center' },
	            { header: '담당자', name: 'manager', width: 100, align: 'center' },
	            { header: '연락처', name: 'phoneNum', width: 120, align: 'center' },
	            { header: '이메일', name: 'email', width: 200, align: 'center' },
	        ]
	    });
	    
	    //스크롤바 
	</script>
</body>
</html>