<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
<meta charset="UTF-8">

<title>employee-register</title>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<style>
.fixed-photo {
	width: 150px; /* 원하는 가로 크기 */
	height: 200px; /* 원하는 세로 크기 */
	object-fit: cover; /* 비율 유지하며 영역에 맞게 채움 */
}

.form-select {
	color: #000 !important;
}
</style>
</head>
<body layout:fragment="content">

	

	<div class="row">
		<div class="col-md-6">
			<!-- 업종 -->
			<div class="card mb-3" style="height: 500px;">
				<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
				<div class="card-header">
					<div class="card-header-left">
						<h5 class="card-title">업종</h5>
					</div>
					<div class="card-header-right">
							<button class="btn btn-outline-dark">추가</button>
							<button class="btn btn-outline-dark">등록</button>
					</div>
				</div>
				<div class="card-body">
					<div id="custtypegrid" style="margin: 20px;"></div>
				</div>
			</div>
			
			<!-- 설립 -->
			<div class="card" style="height: 500px;">
				<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
				<div class="card-header">
					<div class="card-header-left">
						<h5 class="card-title">설립</h5>
					</div>
					<div class="card-header-right">
							<button class="btn btn-outline-dark">추가</button>
							<button class="btn btn-outline-dark">등록</button>
					</div>
				</div>
				<div class="card-body">
					<div id="creategrid" style="margin: 20px;"></div>
				</div>
			</div>
		</div>

		<!-- 우측 패널 -->
		<div class="col-md-6">
				<!-- 규모 -->
				<div class="card mb-3" style="height: 500px;">
					<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
					<div class="card-header">
						<div class="card-header-left">
							<h5 class="card-title">규모</h5>
						</div>
						<div class="card-header-right">
							<button class="btn btn-outline-dark">추가</button>
							<button class="btn btn-outline-dark">등록</button>
						</div>
					</div>
					<div class="card-body">
						<div id="sizegrid" style="margin: 20px;"></div>
					</div>
				</div>

			<!-- 지역/상권 -->
				<div class="card mb-3" style="height: 500px;">
					<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
					<div class="card-header">
						<div class="card-header-left">
							<h5 class="card-title">지역/상권</h5>
						</div>
						<div class="card-header-right">
							<button class="btn btn-outline-dark">추가</button>
							<button class="btn btn-outline-dark">등록</button>
						</div>
					</div>
					<div class="card-body">
						<div id="regiongrid" style="margin: 20px;"></div>
					</div>
				</div>
		</div>
	</div>
	<script th:inline="javascript">
	
    const industryData  = /*[[${industryList}]]*/ [];
    const sizeData      = /*[[${sizeList}]]*/ [];
    const establishData = /*[[${establishList}]]*/ [];
    const regionData    = /*[[${regionList}]]*/ [];
	
	
	// 그리드 디자인
	tui.Grid.applyTheme('default', {
		cell : {
			normal : { // 일반 셀(본문)
				border : '#ccc',
				background : "#fff",
				showVerticalBorder : true, // 세로 라인 표시
			},
			header : { // 헤더 셀
				border : '#ccc',
				background : '#E3E6ED',
				showVerticalBorder : true,
			},
			editable : { // ★ 편집 가능한 셀 공통 스타일
				background : '#FFFDF0', // 연노랑 같은 색으로 표시
				text : '#000'
			},
			selectedHeader : { // 헤더 클릭했을 때 색
				background : '#E3E6ED' // 헤더랑 똑같이 → 색 안 바뀌는 것처럼 보임
			},
			selected : { // 선택된 셀 색
				background : '#ffffff' // 필요하면 여기도 조정
			}
		}
	});
	
	
	
	// 업종그리드 생성
		const custTypeGrid = new tui.Grid({
	    el : document.getElementById('custtypegrid'),
	    data : industryData,
	    scrollX : false,
	    scrollY : true,
	    minBodyHeight : 0,
	    autoWidth : true,
	    columns : [
	        {
	            header : '상세',
	            name   : 'stdrIteamInfo',  // VO 필드명
	            sortable : true,
	            editor   : 'text',
	            width    : 300
	        },
	        {
	            header : '점수',
	            name   : 'infoScore',      // VO 필드명
	            sortable : true,
	            formatter: ({ value }) => value > 0 ? '+' + value : value
	        }
	    ]
	});

	
	// 규모
	const sizeGrid = new tui.Grid({
	    el : document.getElementById('sizegrid'),
	    data : sizeData,
	    scrollX : false,
	    scrollY : true,
	    minBodyHeight : 0,
	    autoWidth : true,
	    columns : [
	        {
	            header : '상세',
	            name   : 'stdrIteamInfo',
	            sortable : true,
	            editor   : 'text',
	            width    : 300
	        },
	        {
	            header : '점수',
	            name   : 'infoScore',
	            sortable : true,
	            formatter: ({ value }) => value > 0 ? '+' + value : value
	        }
	    ]
	});

	    
	// 설립
	const createGrid = new tui.Grid({
	    el : document.getElementById('creategrid'),
	    data : establishData,
	    scrollX : false,
	    scrollY : true,
	    minBodyHeight : 0,
	    autoWidth : true,
	    columns : [
	        {
	            header : '상세',
	            name   : 'stdrIteamInfo',
	            sortable : true,
	            editor   : 'text',
	            width    : 300
	        },
	        {
	            header : '점수',
	            name   : 'infoScore',
	            sortable : true,
	            formatter: ({ value }) => value > 0 ? '+' + value : value
	        }
	    ]
	});

		
		
	// 지역 
	const regionGrid = new tui.Grid({
	    el : document.getElementById('regiongrid'),
	    data : regionData,
	    scrollX : false,
	    scrollY : true,
	    minBodyHeight : 0,
	    autoWidth : true,
	    columns : [
	        {
	            header : '상세',
	            name   : 'stdrIteamInfo',
	            sortable : true,
	            editor   : 'text',
	            width    : 300
	        },
	        {
	            header : '점수',
	            name   : 'infoScore',
	            sortable : true,
	            formatter: ({ value }) => value > 0 ? '+' + value : value
	        }
	    ]
	});
		
		
		
		
	
	</script>
	<script type="module">
import { bindGridToForm, formToJson } from '/assets/js/teamExportUtil.js';
//그리드 행 클릭 시 상세정보 입력
grid.on('click', function(ev) {
    const rowData = grid.getRow(ev.rowKey);
    if (!rowData) return;

    bindGridToForm(rowData);
    bindSalary(rowData); // 급여 처리
    
    const dto = formToJson();  
    console.log(dto);
});
</script>
</body>
</html>