<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>potentialCustList</title>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
</head>
<style>
.fixed-photo {
	width: 150px; /* 원하는 가로 크기 */
	height: 200px; /* 원하는 세로 크기 */
	object-fit: cover; /* 비율 유지하며 영역에 맞게 채움 */
}

.form-select {
	color: #000 !important;
}
</style>
<body layout:fragment="content">

	<span th:text="${list != null ? #lists.size(list) : 0}">0</span>
	<form th:action="@{/potential/sync}" method="post" class="mb-2">
		<button class="btn btn-primary">공공데이터 동기화</button>
	</form>
	<div
		style="height: 500px; width: 100%; overflow-y: auto; overflow-x: auto;">
		<table class="table" style="height: 300px;">
			연습테이블
			<thead>
				<tr>
					<th>잠재정보번호</th>
					<th>조건번호</th>
					<th>거래처ID</th>
					<th>순위</th>
					<th>거래처명</th>
					<th>업종</th>
					<th>규모</th>
					<th>지역</th>
					<th>설립일</th>
					<th>리드점수</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="row : ${list}">
					<td th:text="${row.potentialInfoNo}"></td>
					<td th:text="${row.potentialCondNo}"></td>
					<td th:text="${row.vendId}"></td>
					<td th:text="${row.rank}"></td>
					<td th:text="${row.vendNm}"></td>
					<td th:text="${row.industryType}"></td>
					<td th:text="${row.companySize}"></td>
					<td th:text="${row.region}"></td>
					<td
						th:text="${row.establishDate.substring(0,4) + '년 ' 
					            + row.establishDate.substring(5,7) + '월 ' 
					            + row.establishDate.substring(8,10) + '일'}"></td>
					<td th:text="${row.leadScore}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<form th:action="@{/potentialCustList}" method="post">
		<div class="row" >
			<div class="col-md-12 mb-3">
				<div class="card">
					<!-- 카드 헤더 : 제목 + 초기화/조회 버튼 -->
					<div class="card-header">
						<div class="card-header-left">
							<h5 class="card-title">조회조건</h5>
						</div>
						<div class="card-header-right">
							<button class="btn btn-dark">초기화</button>
							<button class="btn btn-outline-dark" type="submit">조회</button>
						</div>
					</div>
					<div class="card-body">
						<div class="row mb-2">
							<div class="row mb-2">
								<div class="col-md-3">
									<label class="form-label">업종</label> <input
										class="form-select"  name="industryType">
										<!-- <option>코딩</option>
										<option>분석</option>
										<option>제과</option>
										<option>의류</option> -->
								</div>
								<div class="col-md-3">
									<label class="form-label">업체규모</label> <input type="text"
										class="form-control" placeholder="Value" name="companySize">
								</div>
								<div class="col-md-3">
									<label class="form-label">지역/상권</label> <input type="text"
										class="form-control" placeholder="Value" name="region">
								</div>
							</div>
							<div class="col-md-6">
								<label class="form-label">설립일</label>
								<div class="d-flex align-items-center js-date-range">
									<!-- 시작일 -->
									<div class="input-group date">
										<input type="text"
											class="form-control datepicker js-date-range-start"
											placeholder="시작일" name="startEstablishDate"> <span
											class="input-group-text js-date-range-icon-start"> <i
											class="bi bi-calendar"></i>
										</span>
									</div>

									<span class="mx-1 fw-bold fs-5">~</span>

									<!-- 종료일 -->
									<div class="input-group date ms-2">
										<input type="text"
											class="form-control datepicker js-date-range-end"
											placeholder="종료일" name="endEstablishDate"> <span
											class="input-group-text js-date-range-icon-end"> <i
											class="bi bi-calendar"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	
	
	
	  <!-- 결과 테이블 -->
	  <div class="card mb-3" style="height: 500px; overflow-y: auto; overflow-x: auto;">
    <table border="1">
        <thead>
            <tr>
                <th>잠재정보번호</th>
                <th>거래처명</th>
                <th>업종</th>
                <th>규모</th>
                <th>지역</th>
                <th>설립일</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="row : ${potentialstdrList}">
                <td th:text="${row.potentialInfoNo}"></td>
                <td th:text="${row.vendNm}"></td>
                <td th:text="${row.industryType}"></td>
                <td th:text="${row.companySize}"></td>
                <td th:text="${row.region}"></td>
                <td th:text="${row.establishDate}"></td>
            </tr>
        </tbody>
    </table>
    </div>
	


	<!-- 잠재고객 -->
	<div class="card mb-3">
		<div class="card-header">
			<div class="card-header-left">
				<h5 class="card-title">잠재고객목록</h5>
			</div>
			<!-- card-header-left end  -->
			<div class="card-header-right">
				<button class="btn btn-dark">초기화</button>
				<button class="btn btn-outline-dark">조회</button>
			</div>
		</div>
		<div class="card-body">
			<div id="potentialgrid" style="margin: 20px; height: 500px; width: 100%; overflow-y: auto; overflow-x: auto;"></div>
		</div>
	</div>



	<script th:inline="javascript">
		// 휴먼/이탈고객 데이터
		tui.Grid.applyTheme('default', {
			cell : {
				normal : { // 일반 셀(본문)
					border : '#ccc',
					background : "#fff",
					showVerticalBorder : true, // 세로 라인 표시
				},
				header : { // 헤더 셀
					border : '#ccc',
					background : '#E3E6ED',
					showVerticalBorder : true,
				},
				editable : { // ★ 편집 가능한 셀 공통 스타일
					background : '#FFFDF0', // 연노랑 같은 색으로 표시
					text : '#000'
				},
				selectedHeader : { // 헤더 클릭했을 때 색
					background : '#E3E6ED' // 헤더랑 똑같이 → 색 안 바뀌는 것처럼 보임
				},
				selected : { // 선택된 셀 색
					background : '#ffffff' // 필요하면 여기도 조정
				}
			}
		});
		
		
		const potentialData = /*[[${potentialstdrList}]]*/ [];
	    console.log(potentialData);

		// Grid 생성
		const potentialgrid = new tui.Grid({
			el : document.getElementById('potentialgrid'),
			data : potentialData,
			scrollX : true,
			scrollY : true,
			minBodyHeight : 0,
			autoWidth : true,
			columns : [ {
				header : '순위',
				name : 'rank',
				sortable : 'true',
				align : 'center'
			}, {
				header : '업체명',
				name : 'vendNm',
				editor : 'text'
			}, {
				header : '업종',
				name : 'industryType',
				sortable : 'true',
				align : 'center'
			}, {
				header : '규모',
				name : 'companySize',
				align : 'center'
			}, {
	            header: '설립일',
	            name: 'establishDate',
	            formatter: ({ value }) => {
	                const d = new Date(value);
	                return `${d.getFullYear()}년 ${String(d.getMonth()+1).padStart(2,'0')}월 ${String(d.getDate()).padStart(2,'0')}일`;
	            },
	            align : 'center'
	        }, {
				header : '지역/상권',
				name : 'region',
				align : 'center'
			}, {
				header : '리드점수',
				name : 'leadscore',
				align : 'center'
			} ]
		});
	</script>
</body>
</html>

