<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

<title>채권관리</title>
<style>
.form-select {
	color: #000 !important;
}
</style>
</head>
<body layout:fragment="content">
	<div class="row">
		<!-- 검색조건 -->
		<div class="col-md-12">
			<div class="card mb-3 searchdiv">
				<div class="card-header">
					<h5 class="card-title">검색조건</h5>
					<div class="card-header-right">
						<button type="button" class="btn btn-dark" id="searchInitBtn">초기화</button>
						<button class="btn btn-outline-dark" id="searchBtn">조회</button>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-3">
							<label for="custcomId" class="form-label">고객사코드</label>
							<input id="custcomId" type="text" class="form-control">
						</div>
						<div class="col-md-3">
							<label for="custcomName" class="form-label">고객사명</label>
							<select id="custcomName" class="form-control">
								<option>전체</option>
								<option>무신사</option>
								<option>29cm</option>
							</select>
						</div>
						<div class="col-md-2">
							<label class="form-label">담당자</label>
							<select id="psch" class="form-control">
								<option>전체</option>
								<option>논개</option>
								<option>구론산</option>
							</select>
						</div>
						<div class="col-md-4">
							<label class="form-label">기간</label>
								<div class="d-flex align-items-center js-date-range">

									<!-- 시작일 -->
									<div class="input-group date">
										<input type="text"
											class="form-control datepicker js-date-range-start"
											placeholder="시작일"> <span
											class="input-group-text js-date-range-icon-start"> <i
											class="bi bi-calendar"></i>
										</span>
									</div>

									<span class="mx-1 fw-bold fs-5">~</span>

									<!-- 종료일 -->
									<div class="input-group date ms-2">
										<input type="text"
											class="form-control datepicker js-date-range-end"
											placeholder="종료일"> <span
											class="input-group-text js-date-range-icon-end"> <i
											class="bi bi-calendar"></i>
										</span>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">입출금관리</h5>
					<div class="card-header-right">
						<button class="btn btn-outline-dark" id="openRciptTretModal">입금처리</button>
					</div>
				</div>
				<div class="card-body">
					<div id="grid"></div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="business/modal/rciptTretModal :: rciptTretModal"></div>
	
	
<script>
		function toNumber(val) {
		    if (val === null || val === undefined) return 0;
		    const str = String(val).replace(/,/g, '').trim();
		    if (str === '') return 0;
		    return Number(str) || 0;
		}


		let searchForm = {
				custcomId: "",
			    custcomName: "",
			    psch: "",
			    startDt: "",
			    endDt: ""
		};
	
	    const gridData = [];
    
    
        // Grid 생성
        const grid = new tui.Grid({
            el: document.getElementById('grid'),
            bodyHeight: 360,
            data: gridData,
            scrollX: true,
            scrollY: true,
            minBodyHeight: 0,
            autoWidth: true,
            columns: [
                {header: '고객코드', name: 'custcomId', align: 'center'},
                {header: '고객사', name: 'custcomName', align: 'center'},
                {header: '거래일자', name: 'trnsDate'},
                {header: '매출내역', name: 'saleCtnt'},
                {
                    header: '매출금액',
                    name: 'saleAmt',
                    editor: 'text',
                    align: 'right',
                    formatter: ({value}) => {
                        const num = toNumber(value);
                        return num ? num.toLocaleString() : '';
                    }
                },
                {
                    header: '대출금액',
                    name: 'borwAmt',
                    editor: 'text',
                    align: 'right',
                    formatter: ({value}) => {
                        const num = toNumber(value);
                        return num ? num.toLocaleString() : '';
                    }
                },
                {
                    header: '입금금액',
                    name: 'rciptAmt',
                    editor: 'text',
                    align: 'right',
                    formatter: ({value}) => {
                        const num = toNumber(value);
                        return num ? num.toLocaleString() : '';
                    }
                },
                {
                    header: '원금잔액',
                    name: 'prinsumBaln',
                    editor: 'text',
                    align: 'right',
                    formatter: ({value}) => {
                        const num = toNumber(value);
                        return num ? num.toLocaleString() : '';
                    }
                },
                {
                    header: '입금약속액',
                    name: 'rciptAppoAmt',
                    editor: 'text',
                    align: 'right',
                    formatter: ({value}) => {
                        const num = toNumber(value);
                        return num ? num.toLocaleString() : '';
                    }
                },
                {header: '입금약속일', name: 'rciptAppoDt', align: 'right'},
                {header: '최근납입일', name: 'ltstRciptDt', align: 'right'}
            ]
        });
        
	// =============== 버튼 이벤트
	// 2-1. 초기화 버튼 이벤트
	document.getElementById("searchInitBtn").addEventListener("click", function () {
	
	    // 1) searchForm 객체 초기화
	    searchForm = {
			custcomId: "",
		    custcomName: "",
		    psch: "",
		    startDt: "",
		    endDt: ""
	    };
	    const searchdiv = document.querySelector(".searchdiv")
	
	    // 2) 화면 Input 값 초기화
	    searchdiv.querySelector("#custcomId").value = "";
	    searchdiv.querySelector("#custcomName").value = "";
	    searchdiv.querySelector("#psch").value = "";
	    searchdiv.querySelector(".js-date-range-start").value = "";
	    searchdiv.querySelector(".js-date-range-end").value = "";
	
	    // datepicker 를 쓰는 경우 UI 리프레시
	    $('.js-date-range-start').datepicker('update', '');
	    $('.js-date-range-end').datepicker('update', '');
	
	    console.log("검색조건 초기화:", searchForm);
	});

	// 2-2. 조회 버튼 이벤트
	document.getElementById("searchBtn").addEventListener("click", function () {
	
	    // 1) 화면 입력값 → searchForm 에 세팅
	    searchForm.custcomId = document.querySelector("#custcomId").value.trim();
	    searchForm.custcomName = document.querySelector("#custcomName").value.trim();
	    searchForm.psch = document.querySelector("#psch").value.trim();
	    searchForm.startDt = document.querySelector(".js-date-range-start").value;
	    searchForm.endDt = document.querySelector(".js-date-range-end").value;
	
	    console.log("보낼 searchForm >>> ", searchForm);
	
	    // 2) 백엔드 조회 요청 (POST /esti/list)
	    axios.post("/rcipt/list", searchForm)
	        .then(res => {
	            console.log("조회결과 >>> ", res.data);
	
	            // 3) 그리드 데이터 반영
	            grid.resetData(res.data);
	        })
	        .catch(err => console.error("조회 중 오류:", err));
	});
        
        
    	// 입금처리 모달창
        const openRciptTretBtn = document.getElementById("openRciptTretModal");
        const modal = document.getElementById("rciptTretModal");
        const rciptTretBackdrop = document.getElementById("rciptTretBackdrop");

        
        
        // 입금처리 열기
        openRciptTretBtn.addEventListener("click", () => {
	        //그리드에 선택된 고객사 정보
	        const rowKey = grid.getFocusedCell().rowKey;
	        if (rowKey == null || rowKey < 0){
	        	alert("고객사가 선택되지 않았습니다.")
	        	return ;
	        }
	        
	        const custcomId = grid.getValue(rowKey,'custcomId');
	        const custcomName =  grid.getValue(rowKey,'custcomName');
	            		
    		rciptdetailform.custcomIdHidden.value = custcomId;
    		rciptdetailform.custcomName.value = custcomName;
	        
	        
	        rciptTretModal.classList.add("show");
	        rciptTretModal.style.display = "block";
	        rciptTretBackdrop.style.display = "block";
	        document.body.classList.add("modal-open");
	       
        });
        
    	// 바깥 클릭 시 닫기
    	function closeRciptTretModal() {
    		modal.classList.remove("show");
    		modal.style.display = "none";
    		rciptTretBackdrop.style.display = "none";
    	}
    	
    	modal.addEventListener("click", (event) => {
    		if (!event.target.closest(".modal-content")) {
    			closeRciptTretModal();
    		}
    	});
    	
    	
    	// 저장버튼 이벤트
    	document.getElementById('modalSaveBtn').addEventListener('click', () => {
    		const payload = {
    		  custcomId: rciptdetailform.custcomIdHidden.value,
    		  //vendId: document.getElementById('modalSaveBtn').value,
    		  rciptDt: rciptdetailform.rciptDt.value,
    		  rciptAmt: rciptdetailform.rciptAmt.value,
    		  pmtMtd: rciptdetailform.pmtMtd.value,
    		  rm: rciptdetailform.rm.value
    		};
    		
    		axios.post('/rcipt/save', payload)
    		  .then(res => {
    		    if (res.data.result === 'success') {
    		      alert('저장 완료');
    		
    		      // 폼 초기화
    		      document.rciptdetailform.reset();
    		
    		      // 그리드 새로고침
    		      //reloadPriceGrid();
    		      
    		    } else {
    		      alert(res.data.message || '저장 실패');
    		    }
    		  })
    		  .catch(err => {
    		    console.error('저장 오류: ', err);
    		    alert('저장 중 오류 발생');
    		  });
    	});

        
    </script>
</body>
</html>
