<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

<title>출하관리</title>
<style>
.form-select {
	color: #000 !important;
}
</style>
</head>
<body layout:fragment="content">
	<div class="row">
		<!-- 검색조건 -->
		<div class="col-md-12">
			<div class="card mb-3">
				<div class="card-header">
					<h5 class="card-title">검색조건</h5>
					<div class="card-header-right">
					    <button type="button" class="btn btn-dark">초기화</button>
						<button class="btn btn-outline-dark">조회</button>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-3">
							<label class="form-label">고객코드</label> 
							<input type="text" class="form-control">
						
						</div>
						<div class="col-md-3">
							<label class="form-label">고객사</label> <select id="dept"
								class="form-control">
								<option>전체</option>
								<option>무신사</option>
								<option>29cm</option>
							</select>
						</div>
						<div class="col-md-2">
							<label class="form-label">담당자</label> <select id="pay_yn"
								class="form-control">
								<option>전체</option>
								<option>논개</option>
								<option>구론산</option>
							</select>
						</div>
						<div class="col-md-4">
							<label class="form-label">요청출하일</label>
							<div class="d-flex align-items-center">
								<!-- 시작일 -->
								<div class="input-group date me-2" id="applyDatePickerStart">
									<input type="text" class="form-control" id="applyDateStart"
										placeholder="날짜 선택"> <span class="input-group-text"
										id="icon-calendar-start"> <i class="bi bi-calendar"></i>
									</span>
								</div>

								<!-- ~ -->
								<span class="mx-1 fw-bold fs-5">~</span>

								<!-- 종료일 -->
								<div class="input-group date ms-2" id="applyDatePickerEnd">
									<input type="text" class="form-control" id="applyDateEnd"
										placeholder="날짜 선택"> <span class="input-group-text"
										id="icon-calendar-end"> <i class="bi bi-calendar"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- 사원목록 -->
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">출하완료목록</h5>
					<div class="card-header-right">

						<button id="addRowBtn" class="btn btn-outline-dark">행추가</button>
						<button type="button" class="btn btn-dark">반려</button>
						<button class="btn btn-outline-dark" id="openRciptTretModal">출하처리</button>
					</div>
				</div>
				<div class="card-body">
					<div id="oustGrid"></div>
				</div>
			</div>
		</div>
	</div>
	<!--<div th:replace="business/modal/rciptTretModal :: rciptTretModal"></div>
	<div th:replace="business/modal/delayModal :: delayModal"></div>
	-->
	<script>
    const oustData = [
    	  {
    		oustId: "251126-0001",
    		custcomName: "무신사",
    		cttpc: "02-111-2222",
    		shipmntDt: "2025-11-28",
    		dmndShipDt: "2025-12-02",
    		productName: "롱패딩외2종",
    		ttPrice: "680,000",
    		ttSoQy: "10",
    		currStockQy: "100",
    		empId: "논개"
    	  },
    	  {
    		oustId: "251126-0002",
    		custcomName: "29cm",
    		cttpc: "02-777-8888",
    		shipmntDt: "2025-11-20",
    		dmndShipDt: "2025-11-28",
    		productName: "거위털패딩외2종",
    		ttPrice: "5,000,000",
    		ttSoQy: "10",
    		currStockQy: "50",
    		empId: "구론산"
    	  },
    	];
        // Grid 생성
        const oustGrid = new tui.Grid({
            el: document.getElementById('oustGrid'),
            data: oustData,
            scrollX: true,
            scrollY: true,
            minBodyHeight: 0,
            autoWidth: true,
            columns: [
            	  { header: '출고의뢰번호', name: 'oustId', align: 'center' },
            	  { header: '고객사', name: 'custcomName', align: 'center' },
            	  { header: '연락처', name: 'cttpc' },
            	  { header: '출고완료일', name: 'shipmntDt', align: 'right' },
            	  { header: '요청출하일', name: 'dmndShipDt', editor: 'text' },
            	  { header: '상품명', name: 'productName', editor: 'text' },
            	  { header: '금액합계(원)', name: 'ttPrice', align: 'right', editor: 'text' },
            	  { header: '주문수량(EA)', name: 'ttSoQy', editor: 'text' },
            	  { header: '재고수량(EA)', name: 'currStockQy' },
            	  { header: '작업자', name: 'empId' },
            	]
        });
        

        //행추가버튼
        const addRowBtn = document.getElementById('addRowBtn');

        addRowBtn.addEventListener('click', () => {
            // 1) 최상단에 빈 행 추가
            const { rowKey } = grid.prependRow(
                {
                	custcomId: '',
            		custcomName: '',
            		trnsDate: '',
            		saleCtnt: '',
            		salAmt: '',
            		borwAmt: '',
            		prinsumBaln: '',
            		rciptAppoAmt: '',
            		rciptAppoDt: '',
            		ltstRciptDt: ''
                },
                { focus: true }      // 새로 추가된 행에 포커스 옵션
            );

            // 2) 특정 컬럼부터 바로 편집하고 싶으면
            grid.focus(rowKey, 'custcomId');    
            grid.startEditing(rowKey, 'custcomName');
        });

        
        
        
        
        
        
    	// 입금처리 모달창
        const openRciptTretBtn = document.getElementById("openRciptTretModal");
        const rciptTretModal = document.getElementById("rciptTretModal");
        const rciptTretModalClose = document.getElementById("rciptTretModalClose");
        const rciptTretBackdrop = document.getElementById("rciptTretBackdrop");

        // 입금처리 열기
        openRciptTretBtn.addEventListener("click", () => {
        rciptTretModal.classList.add("show");
        rciptTretModal.style.display = "block";
        rciptTretBackdrop.style.display = "block";
        document.body.classList.add("modal-open");
        });
        
       	// 연체이력관리 모달창
        const openDelayBtn = document.getElementById("openDelayModal");
        const DelayModal = document.getElementById("delayModal");
        const DelayModalClose = document.getElementById("delayModalClose");
        const DelayModalBackdrop = document.getElementById("delayModalBackdrop");

        // 연체이력관리 열기
        openDelayBtn.addEventListener("click", () => {
        delayModal.classList.add("show");
        delayModal.style.display = "block";
        delayModalBackdrop.style.display = "block";
        document.body.classList.add("modal-open");
        });
        
        
    </script>
</body>
</html>
