<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.yd2team.business.mapper.CreditMapper">


<!-- 신규견적서 모달 고객사 auto complete -->
	<!-- 고객코드 검색 -->
   <select id="searchCustcomId" parameterType="string" resultType="store.yd2team.business.service.CreditVO">
	    SELECT
	        custcom_id AS custcomId,
	        custcom_name AS custcomName,
	        vend_id AS vendId
	    FROM tb_custcom
	    WHERE custcom_id LIKE '%' || #{keyword} || '%'
	    ORDER BY custcom_id
	</select>
   <!-- 고객사명 검색 -->
   <select id="searchCustcomName" parameterType="string" resultType="store.yd2team.business.service.CreditVO">
	    SELECT
	        custcom_id AS custcomId,
	        custcom_name AS custcomName,
	        vend_id AS vendId
	    FROM tb_custcom
	    WHERE custcom_name LIKE '%' || #{keyword} || '%'
	    ORDER BY custcom_name
	</select>

</mapper>