<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.yd2team.insa.mapper.MlssMapper">

<select id="empIdList">
 SELECT  emp_id
FROM    tb_emp
WHERE   vend_id = #{vendId}
</select>

<select id="mlssCreateId">
SELECT 'mlss' || TO_CHAR(SYSDATE, 'YYMM') ||
       LPAD(NVL(MAX(SUBSTR(mlss_id, LENGTH(mlss_id)-2, 3)), 0) + 1, 3, '0') AS mlss_id
FROM tb_mlss
WHERE SUBSTR(mlss_id, 5, 4) = TO_CHAR(SYSDATE, 'YYMM')
</select>

<insert id="insertMlssList">
  INSERT ALL
  <foreach collection="list" item="item">
    INTO tb_mlss (
      mlss_id, emp_id, mlss_nm, evl_begin_dt, evl_end_dt, suprr, crk, self, crea_dt, crea_by
    ) VALUES (
      #{item.mlssId}, #{item.empId}, #{item.mlssNm}, #{item.evlBeginDt},#{item.evlEndDt}, 0, 0, 0, #{item.creaDt}, 'myk'
    )
  </foreach>
  SELECT 1 FROM DUAL
</insert>

<select id="mlssSearchList">
SELECT DISTINCT 
 mlss_nm
 ,evl_begin_dt
 ,evl_end_dt
 ,crea_dt
FROM    tb_mlss
<where>
    <if test="mlssNm != null and mlssNm != ''">
      AND mlss_nm LIKE '%'|| #{mlssNm}|| '%'
    </if>
    <if test="evlBeginDt != null and evlBeginDt != ''">
      AND evl_begin_dt >= #{evlBeginDt}
    </if>    
</where>
</select>

<select id="mlssDtChk">
<![CDATA[
        SELECT mlss_id
		FROM (
		    SELECT mlss_id
		    FROM tb_mlss
		    WHERE emp_id = #{empId}
		      AND evl_begin_dt <= TRUNC(SYSDATE)
		      AND evl_end_dt >= TRUNC(SYSDATE)
		    ORDER BY crea_dt DESC
		)
		WHERE ROWNUM = 1          
    ]]>
</select>

<select id="mlssIemList">
select *
from tb_mlss_iem
</select>

<insert id="mlssWrterRegist">
INSERT ALL
  <foreach collection="list" item="item">
    INTO tb_mlss_wrter (mlss_id, mlss_iem_id, emp_id, score, evale_relate, crea_by)
    VALUES (#{item.mlssId}, #{item.mlssIemId}, #{item.empId}, #{item.score}, #{item.evaleRelate}, 'myk')
  </foreach>
SELECT 1 FROM DUAL
</insert>

<update id="mlssMasterUpdate">
UPDATE tb_mlss
SET
 <if test="self != null">self = #{self}</if>
 <if test="suprr != null">suprr = #{suprr}</if>
 <if test="crk != null">crk = #{crk}</if>
where mlss_id = #{mlssId}
</update>

<select id="mlssEmpList">
select
 emp_id
 ,nm
 ,clsf
from tb_emp
where dept_id = #{deptId}
</select>

<select id="mlssWrterLoadBefore">
select *
from tb_mlss_wrter
where mlss_id = #{mlssId}
and emp_id = #{empId}
</select>

</mapper>
