<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.yd2team.business.mapper.ProductMapper">

    <select id="searchProduct" parameterType="ProductVO" resultType="ProductVO">

        SELECT
            product_id AS productId,
            vend_id AS vendId,
            product_name AS productName,
            unit AS unit,
            basis_purc_amt AS basisPurcAmt,
            basis_sale_amt AS basisSaleAmt,
            yn,
            rm,
            crea_dt AS creaDt
        FROM tb_product
        WHERE 1 = 1

        <if test="productName != null and productName != ''">
            AND productName LIKE '%' || #{productName} || '%'
        </if>

        ORDER BY crea_dt DESC
    </select>

</mapper>