<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.yd2team.business.mapper.RciptMapper">
    
    <!-- 채권조회 -->
	<select id="selectRciptList" parameterType="store.yd2team.business.service.RciptVO" resultType="store.yd2team.business.service.RciptVO">
	
	    SELECT
	          r.rcipt_id                     AS rciptId
	        , r.custcom_id                   AS custcomId
	        , c.custcom_name                 AS custcomName
	        , r.trns_dt                      AS trnsDt
	        , r.bond_amt                     AS bondAmt
	        , r.bond_baln                    AS bondBaln
	        , r.ltst_rcipt_dt                AS ltstRciptDt
	        , r.delay_fg                     AS delayFg
	        , r.rpay_yn                      AS rpayYn
	
	        /* 누적 입금액 (서브쿼리) */
	        , (
	            SELECT NVL(SUM(d.rcipt_amt), 0)
	              FROM tb_rcipt_detail d
	             WHERE d.rcipt_id = r.rcipt_id
	          ) AS rciptAmtSum
	
	    FROM tb_rcipt r
	    JOIN tb_custcom c
	      ON r.custcom_id = c.custcom_id
	
	    WHERE 1 = 1
	
	    <!-- 고객코드 -->
	    <if test="custcomId != null and custcomId != ''">
	        AND r.custcom_id = #{custcomId}
	    </if>
	
	    <!-- 고객사명 -->
	    <if test="custcomName != null and custcomName != ''">
	        AND c.custcom_name LIKE '%' || #{custcomName} || '%'
	    </if>
	
	    <!-- 채권 발생일 -->
	    <if test="startDt != null">
		    AND r.trns_dt &gt;= #{startDt}
		</if>
		
		<!-- 채권 발생일 종료 -->
		<if test="endDt != null">
		    AND r.trns_dt &lt;= #{endDt}
		</if>
	
	    ORDER BY
	        r.ltst_rcipt_dt DESC NULLS LAST,
	        r.trns_dt DESC
	
	</select>
	

	<!-- 입금처리 버튼 프로시저 호출 -->
	<update id="callRciptPayment" parameterType="map">
	    CALL pr_rcipt_payment(
	          #{vendId}
	        , #{rciptId}
	        , #{custcomId}
	        , TO_DATE(#{rciptDt}, 'YYYY-MM-DD')
	        , #{rciptAmt}
	        , #{pmtMtd}
	        , #{rm}
	        , #{empId}
	    )
	</update>
	
	<!-- 입금내역 조회 (채권 상세 / 통장식) -->
    <select id="selectRciptDetailList" parameterType="string" resultType="store.yd2team.business.service.RciptVO">

        SELECT
              d.rcipt_dt     AS rciptDt
            , d.rcipt_amt    AS rciptAmt
            , d.pmt_mtd      AS pmtMtd
            , d.rm           AS rm
        FROM tb_rcipt_detail d
        WHERE d.rcipt_id = #{rciptId}
        ORDER BY d.rcipt_dt ASC

    </select>
	
</mapper>