<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.yd2team.common.mapper.SignUpMapper">
	
	<!-- 아이디 중복체크 -->
	<select id="countLoginId" parameterType="string" resultType="int">
		SELECT COUNT(*)
		FROM tb_vend_acct
		WHERE login_id = #{loginId}
	</select>
	
	<!-- 사업자등록번호 중복체크 -->
	<select id="countBizNo" parameterType="string" resultType="int">
		SELECT COUNT(*)
		FROM tb_vend
		WHERE bizno = #{bizNo}
	</select>
	
	<!-- 해당 월의 최대 업체 ID 시퀀스 조회 (예: vend_202512001 → 001) -->
	<select id="getMaxVendSeqOfMonth" parameterType="string" resultType="string">
		SELECT MAX(SUBSTR(vend_id, LENGTH(#{prefix}) + 1))
		FROM tb_vend
		WHERE vend_id LIKE CONCAT(#{prefix}, '%')
	</select>
	
	<!-- 해당 월의 최대 업체계정 ID 시퀀스 조회 (예: vend_acct_202512001 → 001) -->
	<select id="getMaxVendAcctSeqOfMonth" parameterType="string" resultType="string">
		SELECT MAX(SUBSTR(vend_acct_id, LENGTH(#{prefix}) + 1))
		FROM tb_vend_acct
		WHERE vend_acct_id LIKE CONCAT(#{prefix}, '%')
	</select>
	
	<!-- 신규 업체(vend) 등록: st는 DB 디폴트 사용 -->
	<insert id="insertVend" parameterType="store.yd2team.common.service.VendVO">
		INSERT INTO tb_vend (
			vend_id,
			vend_nm,
			rpstr_nm,
			bizno,
			hp,
			tel,
			email,
			addr,
			bizcnd,
			join_dt,
			crea_dt,
			crea_by,
			updt_dt,
			updt_by
		) VALUES (
			#{vendId},
			#{vendNm},
			#{rpstrNm},
			#{bizno},
			#{hp},
			#{tel},
			#{email},
			#{addr},
			#{bizcnd},
			SYSDATE,
			SYSDATE,
			#{creaBy},
			SYSDATE,
			#{updtBy}
		)
	</insert>
	
	<!-- 신규 업체계정(vend_acct) 등록: st, yn, failr_cnt는 DB 디폴트 사용 -->
	<insert id="insertVendAcct" parameterType="store.yd2team.common.service.VendAcctVO">
		INSERT INTO tb_vend_acct (
			vend_acct_id,
			vend_id,
			login_id,
			login_pwd,
			lock_dttm,
			last_login,
			crea_dt,
			crea_by,
			updt_dt,
			updt_by
		) VALUES (
			#{vendAcctId},
			#{vendId},
			#{loginId},
			#{loginPwd},
			#{lockDttm},
			#{lastLogin},
			SYSDATE,
			#{creaBy},
			SYSDATE,
			#{updtBy}
		)
	</insert>

</mapper>